.mainCallToAction {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rock {
    width: 40rem;
    height: 25rem;
}

.buttonCall {
    width: 9rem;
    padding: 1%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 6px 12px 17px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 6px 12px 17px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 6px 12px 17px 0px rgba(0,0,0,0.51);
}
