@font-face {
  font-family: "BeaufortforLOL-Bold.woff";
  /* font-style: normal; */
  /* font-weight: normal; */
  src: url("../assets/BeaufortforLOL-Bold.woff.ttf")
    format("woff", "OneType", "TrueType");
}

.swiper {
  width: 100%;
  max-height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: rgb(253, 203, 203); */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mainCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -3%;
}

.carouselContainer {
  height: 100vh;
  width: 100%;
  /* background: coral; */
  /* temporal para trabajar con las slides */
}

div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-right: 2rem;
}

.carouselBox {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carouselTitle {
  margin-top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -4%;
}

.carouselTitle{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 30vh;
}

.dividerButtomCarousel{
  margin-top: 1%;
  width: 35%;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: -5%;
}

.boxTitleCarousel{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .carouselTitle h2 {
  font-family: "BeaufortforLOL-Bold.woff";
  font-size: 4rem;
  font-weight: bold;
}

.carouselTitle p {
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  letter-spacing: 0, 5px;
  margin: 0;
  margin-bottom: -3%;
  text-shadow: 3px 2px 6px rgb(0 0 0 / 33%);
} */

.carousel-indicators button {
  display: none;
}

div.championCarousel {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: grabbing;
}

div.topVideos {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.usernameTopVideo {
  font-size: 1.5rem;
  letter-spacing: 0, 5px;
  color: white;
  margin-bottom: 0;
  margin-right: 1%;
  padding-top: 1%;
}

.userBox {
  background-color: rgb(0, 0, 0);
  width: 360px;
  height: 50px;
  -webkit-clip-path: polygon(92% 0, 100% 43%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(92% 0, 100% 43%, 100% 100%, 50% 100%, 0 100%, 0 0);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.videoUser {
  padding: 0;
  margin: 0;
}

.carouselTitle{
  color: rgb(192, 149, 58);
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}


@media (max-width: 500px) {
  .boxTitleCarousel{
    margin-top: -15%;
    margin-bottom: -70%;
  }

  .carouselTitle{
    width: 60%;
  }

  .mainCarousel{
    margin-top: 50%;
    margin-bottom: -60%;
  }

  .dividerButtomCarousel{
    width: 60%;
    margin-top: -15%;
  }

  div.championCarousel{
    background-size: 0;
  }

}

@media (max-width: 450px) {
  .boxTitleCarousel{
    margin-top: -20%;
    margin-bottom: -80%;
  }

  .carouselTitle{
    width: 70%;
  }

  .mainCarousel{
    margin-top: 60%;
    margin-bottom: -70%;
  }

  .dividerButtomCarousel{
    width: 70%;
    margin-top: -20%;
  }

  div.championCarousel{
    background-size: 0;
    margin-left: 2%;
  }

  div.topVideos{
    justify-content: center;
    align-items: center;
  }

  .videoUser{
    margin-left: 1%;
  }

  .carouselContainer{
    width: 100%;
  }
}

/* @media only screen and (width: 12rem) {
  .mainCarousel{
    margin-top:80%
  }
} */

/* @media screen and (min-width: 1050px) {
  .mainCarousel{
   background-size: 0;
  }

  div .userBox {
    border-radius: 2rem;
    width: 95%;
  }

  .videoUser video {
    width: 95% !important;
    text-align: center;
  }

  div.videoUser {
    width: 95% !important;
  }

  .championCarousel {
    text-align: center;
  }

  .titleCarouselHome {
    font-size: 3rem!important;
  }

  div.championCarousel {
    background-size: 0;
  }
} */

@media screen and (min-width: 1500px) {
  .mainCarousel{
    margin-top:-8%
    
  }
}

@media screen and (min-width: 1600px) {
  .boxTitleCarousel{
    margin-bottom:-10%
    
  }
}



