.swiper {
    width: 100%;
    max-height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: rgb(253, 203, 203); */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .mainCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 6%; */
  }

  .carouselContainer {
    height: 90vh;
    width: 70vw;
    /* background: coral; */
    /* temporal para trabajar con las slides */
  }

  div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
      margin-right: 2rem;
  }

  .carouselBox {
    /* padding-top: 8%; */
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex; */
  }

  .carouselTitle {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .carouselTitle p {
    font-family: 'Secular One', sans-serif;
    font-size: 2.5rem !important;
    letter-spacing: 0,5px;
  }

  .carousel-indicators button {
    display: none;
  }