.mainAkali {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 6%;
}

.diamond {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.akaliCarousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.akaliImg {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
}



