@font-face {
    font-family: "BeaufortforLOL-Bold.woff";
    /* font-style: normal;
    font-weight: normal; */
    src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
  }
  
.titleRotation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "BeaufortforLOL-Bold.woff";
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0,5px;
    color: rgb(192, 149, 58);
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    
}

.titleRotation{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25%;
    height: 20vh;
}

.champH2{
    font-size: 2rem;
    font-family: "Secular One", sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: -1%;
}

/* .titleRotation {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 30vh;
    text-align: center;
    font-size: 4rem;
} */


div.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-bottom: 4%; */
    /* margin: 5rem 0rem; */
}

.socialContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.877);
    width: 90%;
    padding: 1%;
    margin-bottom: 8%;
    margin-top: 8%;
    -webkit-clip-path: polygon(97% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
    clip-path: polygon(97% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
}


.socialContent p {
    /* font-family: 'Secular One', sans-serif; */
    font-size: 1.5rem;
    letter-spacing: 0,5px;
    color: white;
    margin-bottom: 0;
    margin-right: 1%;
}

.socialBox {
    display: flex;
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

div.rotationsContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.rotationsCarousel {
    width: 95%;
    min-height: 90vh;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-image: 
        linear-gradient(
        rgba(224, 191, 122,0), 
        rgba(224, 191, 122), 
        rgba(149, 118, 62, 0)
        ) 1 100%;
}

.rotationImg {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    z-index: 1;
}

.carousel-indicators button {
    background-color: #0dcaf0;
}

.carouselBorder{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.dividerButtom {
    width: 50%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.dividerTop {
    width: 50%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
}



@media screen and (max-width:900px) {
    .socialBox {
        width: 30vw;
    }
}

@media screen and (max-width:1050px) {
    div.rotationsContainer {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    div.rotation {
        width: 30rem;
        height: 20rem;
    }

    .titleRotation{
     /* margin-bottom:5vh; */
     font-size: 8vw;
     height:20vh
    }

    .rotationsCarousel {
        width: 95%;
        background-size: 0; 
    }

    .carouselBorder{
        background-size: 0!important;
     display:none!important;   
    }    

    /* .rotationImg{
        background-size:0!important;
    } */

    .rotationsCarousel {
        width: 110%;
        /* min-height: 90vh; */
        padding: 0rem;
        border-width: 3px;
        border-style: solid;
        border-image: none
    }
}

@media screen and (max-width:700px) {
    .socialContent{
        display: none;
    }
}

