footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-bottom: 2rem;
    width: 100%;
}

.divFooter {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.logo {
    background-color: black;
    width: 5rem;
    height: 5rem;
    margin: 1rem 2rem;
}

div.socialMedia {
    display: flex;
    /* margin: 1rem 2rem; */
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

img.socialMediaIcon {
    width: 35px;
}

.footerBox {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logoFooter {
    width: 100px;
}

.esrb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}

.esrb img{
    width: 90px;
}

.esrb div{
    /* width: 65px; */
    line-height: 0.5em;
    padding-top: 5%;
}

.copy {
    padding-top: 1%;
}

@media screen and (max-width:769px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}