footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-bottom: 2rem;
    width: 100%;
}

.divFooter {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.logo {
    background-color: black;
    width: 5rem;
    height: 5rem;
    margin: 1rem 2rem;
}

div.socialMedia {
    display: flex;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 2%;
    padding-top: 2%;
}

img.socialMediaIcon {
    width: 40px;
}

.footerBox {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoFooter {
    width: 100px;
}

@media screen and (max-width:769px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}