header {
  width: 100%;
}

.bg-dark {
  background-color: none !important;
}

.navBar {
  background-color: black !important;
}

.iconPosition {
  position: absolute;
  top: 10px;
  right: 6px;
}

.linkbox {
  border: 1px solid #999;
  outline: 0;
  padding: 1rem;
  padding-left: 25px;
  height: 25px;
  width: 275px;
  border-radius: 30px;
  margin-left: 15%;
  text-align: inherit;
}

.textbox::placeholder {
  text-align: center;
  color: rgb(180, 180, 180);
}

.navBox {
  width: 20vw;
  justify-content: space-around !important;
}

.text-white {
  text-decoration: none;
}

.text-white:hover {
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.accountBox {
  font-weight: bold !important;
  text-decoration: none !important;
  text-decoration-line: none !important ;
  color: whitesmoke !important;
}

a {
  text-decoration: none !important;
  color: whitesmoke ;
}

.navSpace {
  position: -webkit-sticky !important; /* Safari */
  position: sticky;
  top: 0;
}

.logoNav {
  width: 55px;
}

.logoNavBox {
  padding-left: 1.5%;
}

.divSearch img {
  width: 30px;
  margin-left: 1%;
  cursor: pointer;
}

.iconNav {
  width: 2.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3em;
}

.barraResponsive {
  display: none !important;
}

.barraDeAfuera {
  display: block !important;
}

.buttonToggle {
  position: absolute;
  left: 6em;
  z-index: 1;
  color: aliceblue !important;
}

.dropdown-menu {
  background-color: black !important;
  color: rgb(255, 255, 255) !important;
}

.accountBox:hover{
  background-color: whitesmoke !important;
  color:rgb(17, 17, 16)!important;
  opacity:1
}

.changeButton{
  position: absolute!important;
  top: -25px!important;
  left: -10px!important;
  color:rgb(17, 17, 16)!important;
 }

 .colorDrop{
  color:rgb(247, 247, 232)!important;
 }

 .burguerWhite{
   color:white!important;
   font-size: 2.2rem;
 }
 
@media only screen and (max-width: 1150px) {
  .textbox {
    /* background: #FFF url(/images/css/input-text-9.png) no-repeat 4px 4px; */
    border: 1px solid #999;
    outline: 0;
    width: 65%;
    height: 25px;
    border-radius: 30px;
    padding: 0.8rem;
  }

  .iconNav {
    position: absolute;
    right: 6px;
    top: 0px;
  }

  .linkbox {
    width: 75%;
    margin-left: -0.1rem;
  }
}
