header{
  width: 100%;
}

.iconPosition {
  position: absolute;
  top: 10px;
  right: 6px;
}

.textbox {
	/* background: #FFF url(/images/css/input-text-9.png) no-repeat 4px 4px; */
	border: 1px solid #999;
	outline:0;
	padding-left: 25px;
	height:25px;
	width: 275px;
  border-radius: 30px;
  margin-left: 15%;
}

.navBox {
  width: 20vw;
  justify-content: space-around !important;
}

.text-white {
  text-decoration: none;
}

.text-white:hover {
  text-decoration: none;
  opacity: .3;
  transition: opacity .2s linear;
}

/* .inputSize{
  font-size:1rem!important
} */

.navSpace{
  position: -webkit-sticky!important; /* Safari */
  position: sticky;
  top: 0;
}

.logoNav {
  width: 50px;
}

.logoNavBox {
  padding-left: 1.5%;
}

.divSearch img {
  width: 30px;
  margin-left: 1%;
}

.iconNav{
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3em;

}

.barraResponsive{
  display:none!important
}

.barraDeAfuera{
  display:block!important
}

.buttonToggle{
 position:absolute;
 left:6em;
 z-index:1;
 color:aliceblue!important
 
}

/* nav{
  position:absolute;
  z-index:1;
} */

@media only screen and (max-width: 767px) {
  .textbox {
    /* background: #FFF url(/images/css/input-text-9.png) no-repeat 4px 4px; */
    border: 1px solid #999;
    outline:0;
    width:65%;
    height:25px;
    border-radius: 30px;
    padding:0.8rem
  }
}
