.video{
    /* background-color: #0000cc28; */
    position: absolute;
    z-index: -1;
    right: 0;
    min-width: 100%;
    height: 40.5rem;
    object-fit: cover;
    overflow: hidden;
}

.contentVideo {
    margin: 17vw 6vw;
  }

.divSearch {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    
}

.heroTitle {
    width: 40wv;
    height: 30vh;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}