font-face {
    font-family: "BeaufortforLOL-Bold.woff";
    /* font-style: normal; */
    /* font-weight: bold; */
    src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
  }
  
.heroTitle h2{
    font-family: "BeaufortforLOL-Bold.woff";
    font-weight: bold;
    font-size: 6.5rem !important;
    letter-spacing: 0,5px;
    /* font-style: italic; */
    
}

.shadowVideo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

/* h2 {
    text-shadow: 2px 2px 10px rgba(255,5,182,1);;
} */

.video{
    /* background-color: #0000cc28; */
    position: absolute;
    z-index: -1;
    right: 0;
    min-width: 100%;
    height: 40.5rem;
    object-fit: cover;
    overflow: hidden;
}

.contentVideo {
    margin: 17vw 6vw;
  }

.divSearch {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    
}

/* .heroTitle {
    width: 40wv;
    height: 30vh;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
} */

/* .heroTitle img {
    width: 100%;
} */

.glitch
  {
    position: relative;
    width: 60vw;
    height: 30vh;
    background: url(https://i.postimg.cc/rs5QfM63/LOHNEONNEGROgrande.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

.glitch:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.postimg.cc/rs5QfM63/LOHNEONNEGROgrande.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: hard-light;
    animation: glitch2 5s linear infinite;
  }

.glitch:hover:before
{
	animation: glitch1 1s linear infinite;
}

@keyframes glitch1
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 5px 0;
	}
	20%
	{
		background-position: -5px 0;
	}
	30%
	{
		background-position: 15px 0;
	}
	40%
	{
		background-position: -5px 0;
	}
	50%
	{
		background-position: -25px 0;
	}
	60%
	{
		background-position: -50px 0;
	}
	70%
	{
		background-position: 0 -20px;
	}
	80%
	{
		background-position: -60px -20px;
	}
	81%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}

@keyframes glitch2
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 15px 0;
	}
	15%
	{
		background-position: -15px 0;
	}
	20%
	{
		filter: hue-rotate(360deg);
	}
  25%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
  100%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
}



@media screen and (max-width:1024px){
    .heroTitle{
        padding-top: 10%;
    }
}

@media screen and (max-width:768px){
    .heroTitle{
        padding-top: 20%;
    }
}

@media screen and (max-width:500px){
    .heroTitle{
        padding-top: 60%;
    }
}

@media screen and (max-width:450px){
    .heroTitle{
        padding-top: 60%;
    }
}