/* input.reportInput {
  width: 20rem;
  height: 10rem;
} */

div.reportForm {
    display: flex;
    align-items: center;
    
}

.ok{
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
