.uploadForm, div.videoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

div.videoForm {

    background-color: rgba(0, 0, 0, 0.473);
    width: 25%;
}


.formInput {
    margin: 0.5rem;
}

/* 
.postButton {
    align-self: flex-start;
} */

.uploadBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
}

.videoForm h3{
    color:rgb(189, 151, 81);
}

.videoForm input{
    flex: 1;
    background-color: transparent;
    padding: 1%;
    border-color: rgb(175, 140, 23);
    border-radius: 5px;
    color: whitesmoke;
}

.videoForm input::placeholder{
    color: rgb(175, 140, 23);
    font-style: italic;
}

.championName {
    border-color: rgb(175, 140, 23);
    color: rgb(175, 140, 23);
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 1%;
    margin-top: 4%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* .championName::-webkit-scrollbar {
    width: 100px;     Tamaño del scroll en vertical
    height: 200px;    Tamaño del scroll en horizontal
    display: none;
    background-color: green;
} */

.championName::-webkit-scrollbar{
    width: 0.5rem;
}

.championName::-webkit-scrollbar-thumb{
    background-color: rgb(189, 151, 81);
    border-radius: 8px;
}

.optionChampion{
    background-color: black;
}

.sendVideo {
    background-color: rgb(189, 151, 81);
    border-color: rgb(189, 151, 81);
    padding: 2%;
    margin-left: 1%;
    -webkit-clip-path: polygon(88% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
    clip-path: polygon(88% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
    font-weight: bold;
}

.postButton {
    background-color: rgb(189, 151, 81);
    border-color: rgb(189, 151, 81);
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 1%;
    -webkit-clip-path: polygon(88% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
    clip-path: polygon(88% 0, 100% 38%, 100% 100%, 0 99%, 0 0);
    font-weight: bold;
}

.close{
    width: 30px;
    height: 30px;

}

.postButton:hover{
    color: rgb(235, 235, 235);
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: opacity .2s linear;
    border: none;
}