 div.usersVideos, div.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoUser {
    width: 360px !important;
    height: 210px !important;
    margin: .5rem;
} 

div.likeReport {
    display: flex;
    width: 100%;
    justify-content: space-between;
}