div.containerAdmin{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    padding: 0 1em;
    align-items: center;
}

.divBanUsers, .divBanVideos{
    padding:1rem;
    background-color: white;
    width: 35%;
    height: 60vh;
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userToBan::-webkit-scrollbar, .videoToBan::-webkit-scrollbar {
    width: 1rem;
}

.userToBan::-webkit-scrollbar-thumb, .videoToBan::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
    border-radius: 8px;
}

.divBanUsers h3, .divBanVideos h3{
    font-family: 'Maven Pro', sans-serif;
    font-size: 5vmin;
    padding: .5em;
}

.userToBan, .videoToBan{
    color:#525252;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.5vmin;
    overflow-y: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.buttonCont{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}


.deleteadm, .dismissadm {
    padding: .5em 1em !important;
    width: 30%;
    outline: none;
    text-align: center;
    cursor: pointer;
    appearance: none;
    color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);
    color: whitesmoke;
    font-weight: bold;

}

.deleteadm{
    background-color: #d13639;
}

.dismissadm{
    background-color:#1877f2 ;
}

.accountFilter{
    width: 100%;
    padding: .5em;
    border-color: #525252;
    border-radius: 5px;
}

.verifyButt{
    display: flex;
    justify-content: center;
    width: 50%;
    outline: none;
    cursor: pointer;
    appearance: none;
    color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);
    background-color:#1877f2;
}

.verifyButt p {
    margin-top: .5em;
    align-self: center;
    text-align: center;
    color:whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

@media(max-width:1050px ){
    div.containerAdmin{
        flex-direction: column;
        justify-content: space-between;
    }

    .divBanUsers, .divBanVideos{
        margin: 3rem 1rem;
        width: 80%;
    }
}