.imageAndText{
    background-image:linear-gradient(rgba(13, 90, 134, 0.5), rgba(49, 37, 37,0.5)), url("https://i.postimg.cc/zDRv0yHM/R.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.photo {
  min-height: 17rem;
  width: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:1rem;
  border-radius: 2em;
}

.photo:hover{
  border-radius: 2em;
  transition: transform 1s, background-color 0.5s, -webkit-transform 1s;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  background-blend-mode: soft-light;
}

section{
    box-sizing: border-box;
   text-align: center;
   padding:1rem
}