@font-face {
  font-family: "BeaufortforLOL-Bold.woff";
  src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
}

h2 {
  font-family: "BeaufortforLOL-Bold.woff";
}

.heroCommunity{
    background-image: url("https://i.postimg.cc/VNh13Yr9/evelynn-league-of-legends-kda-neon-by-west182-dctnajm-fullview.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.textCommunity {
  padding-top: 6%;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.photo {
  min-height: 17rem;
  width: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:1rem;
  border-radius: 2em;
}

/* .picCommunity:hover{
  transition: transform 1s, background-color 0.5s, -webkit-transform 1s;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  background-blend-mode: soft-light;
} */

section{
    box-sizing: border-box;
   text-align: center;
   padding:1rem
}

.backgroundCommunity {
  display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4%;
    padding-top: 6%;
}

.picCommunity {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 30%;
  height: 70vh;
  margin: 2rem;
  box-shadow: 10px 10px 21px -1px rgba(255,0,181,0.43), -12px -12px 21px -1px rgba(0,144,255,0.43), -1px -1px 21px 8px rgba(115,0,255,1);

}

.picBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
