@font-face {
    font-family: "BeaufortforLOL-Bold.woff";
    /* font-style: normal;
    font-weight: normal; */
    src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
  }

div.videoContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videoEsports {
    /* width: 360px !important;
    height: 210px !important; */
    margin: 2rem;

}

.bodyBackground {
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.ruins{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
    position: relative;
    z-index: 1;
}

.titleEsports {
    font-family: "BeaufortforLOL-Bold.woff";
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0,5px;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 33%);
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
}

/* @media (max-width: 847) {
    .videoEsports{
      

    }
    
} */