@font-face {
    font-family: "BeaufortforLOL-Bold.woff";
    src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
  }

div.videoContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videoEsports {
    margin: 2rem;

}

.bodyBackground {
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.ruins{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
    position: relative;
    z-index: 1;
}

.titleEsports {
    font-family: "BeaufortforLOL-Bold.woff";
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0,5px;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 33%);
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
}

.titleEsports{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25%;
    height: 40vh;
}

.esportsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainBackHome {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  @media(max-width:1200px){
      .titleEsports{
          width: 40%;
      }
  }

  @media(max-width:780px){
    .titleEsports{
        width: 45%;
    }
  }

  @media(max-width:550px){
      .titleEsports{
          width:55%;
      }
  }