* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: "BeaufortforLOL-Bold.woff";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/BeaufortforLOL-Bold.woff.ttf") format("woff", "OneType", "TrueType");
  }
  
  h2 {
    font-family: "BeaufortforLOL-Bold.woff";
  }

.bodyBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}


