main {
    background-color: rgb(125, 108, 143);
    min-height: 80vh;
    display: flex;
}

div.user, div.logoChampion, div.info, div.champion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px solid black;
}

div.user h3 {
    margin-bottom: 2rem;
}

div.avatar {
    background-color: black;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
}

div.info {
    flex: 1;
}

