div.userForm, form, div.riot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.userForm button, div.riot button {
    margin: .5rem;
}

div.userForm{
    justify-content: center;
    min-height: 87.7vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}