div.userForm, form, div.riot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.userForm button, div.riot button {
    margin: .5rem;
}

div.userForm{
    justify-content: center;
    min-height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.formContainer {
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: white;
}

.field {
    padding:0.5em 1em;
    background: rgba(126,126,126,0.1);
    display: flex;
    color: #525252;
    position: relative;
    border: 2px solid rgba(126,126,126,0.1);
    border-radius: 4px;
    background-clip: padding-box;
    width: 100%;
    margin-bottom: 1.496333981744725rem;
    font-size: 2.102349244351339rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
}

.field__label {
    pointer-events: none;
    font-size: 2vmin;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
}

.field__form-input {
    font-size: 3vmin;
    line-height: 100%;
    background: transparent;
    line-height: 1.5em;
    width: 100%;
    outline: none;
    border: 2px transparent;
    display: block;
    color: transparent;
    margin-top:.5em;
}

.formContainer h3{
    font-size: 5vmin;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 110%;
}

.login-button, .riotNo, .riotYes, .riotIcon {
    width: 100%;
    padding: 1em 5em;
    display: flex;
    outline: none;
    cursor: pointer;
    appearance: none;
    color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);
}

.login-button img{
width: 2em;
}

.buttonContainer{
    display:flex;
}

.faceButton, .riotYes{
    background-color:#1877f2;
}

.googleButton{
    background-color: white;
}

div.buttonContainer span {
    display: none!important;
}


.signIn, .riotIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #d13639;
    width: 40%;
}

.signIn p, .riotYes p, .riotNo p{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
    color: white;
}

.textDataForm{
    color:#525252!important;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
}

.textDataForm a{
    text-decoration: none;
}

.formContainer h3{
    font-size: 4vmin;
    text-transform: uppercase;
    color:#525252;
    font-family: 'Maven Pro', sans-serif;
}

.riotNo {
    background-color: #d13639;
}

.buttonRiot{
    padding: 0.5em 2em;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
    color: white;
}

.options {
    display:flex;
    padding-bottom: 1rem;
}
.riotIcon{
    width:7rem;
    height: 7rem;
    border-radius: 50%;
}
.riotIcon img{
    width:5rem;
}

.password, .username, .name, .email{
    color: black !important;
}
