div.userForm, form, .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.userForm{
    justify-content: center;
    min-height: 90.2vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.formContainer {
    padding: 1.5rem;
    background-color: white;
}

.field {
    padding:0.5em 1em;
    background: rgba(126,126,126,0.1);
    display: flex;
    color: #525252;
    position: relative;
    border: 2px solid rgba(126,126,126,0.1);
    border-radius: 4px;
    background-clip: padding-box;
    width: 100%;
    margin-bottom: 1.496333981744725rem;
    font-size: 2.102349244351339rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
}

.field__label {
    pointer-events: none;
    font-size: 2vmin;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
}

.field__form-input {
    font-size: 3vmin;
    line-height: 100%;
    background: transparent;
    line-height: 1.5em;
    width: 100%;
    outline: none;
    border: 2px transparent;
    display: block;
    color: transparent;
    margin-top:.5em ;
}

.password, .email{
    color: black;
}

.formContainer h3{
    padding:1em 0;
    font-size: 5vmin;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 110%;
}

.login-button {
    width: 100%!important;
    padding: 1em 5em!important;
    /* display: flex!important;
    flex-direction: row!important; */
    outline: none!important;
    cursor: pointer!important;
    border-radius: 4px!important;
    border: 2px solid rgba(0,0,0,0.05)!important;
}

/* appearance: none!important; */
    /* color: transparent!important; */

.login-button img{
width: 2em;
}

 .login-button span{
    display:block!important;
    color: #525252;
    font-size: 1rem;
    font-family: 'Secular One', sans-serif;
} 

.buttonContainer{
    display:flex;
    flex-wrap: nowrap;
}

.googleButton{
    background-color: white!important;
    width: 100%!important;
    padding: 0.3em 0.6em!important;
    outline: none!important;
    cursor: pointer!important;
    border-radius: 4px!important;
    border: 2px solid rgba(0,0,0,0.05)!important;
}

.googleButton>span{
    font-family: 'Secular One', sans-serif;
    color: #525252;
}

.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em; 
    padding:0em 3em!important;
    background-color: #d13639;
    width: 40%;
}

.sessionButton {
    width: 100%!important;
    padding: 1em 1em!important;
    /* display: flex!important;
    flex-direction: row!important; */
    outline: none!important;
    cursor: pointer!important;
    border-radius: 4px!important;
    border: 2px solid rgba(0,0,0,0.05)!important;    
    background-color: #d13639;
}

.sessionButton span{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
    color: white;
}

.signIn p{
    margin-top: 6%;
    font-size: 1.1rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
    color: white;
}

.textDataForm{
    color:#525252;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
}

.textDataForm a{
    text-decoration: none;
}


@media only screen and (max-width: 767px) {
    .formContainer {
        padding: 1.5rem;
        background-color: white;
        width:75%
    }
  }

  @media only screen and (max-width: 450px) {
    .googleButton{
        padding: 0.8em 0.6em!important;
        
    }
  }
  @media only screen and (max-width: 350px) {
    .googleButton{
        padding: 0.1em 0.6em!important;
        color: red!important;
        background-color: aqua;
        text-align: end!important;
    }
  }

  